.navigation {
  display: flex;
  list-style: none;
  margin: 32px 250px 0px 93px;
  gap: 46px;
  &__reference {
    font-size: 14px;
    color: $primaryDark;
    font-style: normal;
    text-decoration: none;
    line-height: 1.17;
  }
  &__reference--active::after {
    content: "";
    display: flex;
    margin-top: 28px;
    width: 53px;
    height: 4px;
    background-color: $active;
  }
  &__item :hover,
  &__item :focus {
    color: $active;
  }
}
